
@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
    margin: revert;
}

.ck-content > ol,
.ck-content > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.ck-content > table {
    border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
    font-size: revert;
    font-weight: revert;
}


@layer base {
    body {
        @apply font-poppins;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-roboto;
    }
}

@layer components {
    .size-selector input:checked + label {
        @apply bg-primary text-white;
    }
    .color-selector input:checked + label {
        @apply ring-2 ring-primary;
    }

    .input-box {
        @apply block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0;
    }
}
